{
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "linebreak-style": 0,
        "no-plusplus": [2, { "allowForLoopAfterthoughts": true }]
    },
    "env": {
      "browser": true
    },
    "extends": "airbnb-base"
}