<section class="application">
    <div class="application__container _container">
        <div class="application__content">
            <div class="application__header">
                <h2 class="application__title">Широкая <span class="application__title_accent _accent">область
                        применения</span> криокапсулы IceQueen</h2>
                <p class="application__text">После проведения<b> курса из 10-15 процедур </b>организм настраивается на
                    адаптацию к резким изменениям внешней среды, одновременно с этим исправляя уже существующие
                    проблемы.
                </p>
            </div>
            <div class="application__directions">
                <span class="application__directions-number">13+</span>
                <p class="application__directions-text">направлений <br> применения</p>
            </div>
        </div>
        <div class="application__list" data-accordions data-one-accordion>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Травматология и ортопедия</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">До восьми часов анальгетического эффекта, усиление регенерации тканей в
                        3 раза.</p>
                </div>
            </div>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Акне тела и лица</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">Уменьшение инфильтрации, сокращение площади высыпаний</p>
                </div>
            </div>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Спортивная медицина</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">Оптимизация обменных процессов, ускоренная детоксикация организма, восстановление лактата в крови через час после процедуры</p>
                </div>
            </div>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Кардиология</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">Нормализация артериального давления после 3-4 процедуры</p>
                </div>
            </div>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Пульмонология</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">Значительное снижение использования пациентами ингаляционных бронхолитических препаратов вплоть до полного отказа от них</p>
                </div>
            </div>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Иммунология</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">Снижение аутореактивности, улучшение показателей иммунитета, общее снижение воспаления</p>
                </div>
            </div>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Метаболизм</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">Нормализация уровня холестерина, триглицеридов, артериального давления, снижение уровня глюкозы в крови, показателей общего воспаления в организме, массы тела</p>
                </div>
            </div>
            <div class="application__item" data-accordion>
                <span class="application__line"></span>
                <button class="application__button" data-accordion-button>
                    <h2 class="application__list-title">Репродуктология</h2>
                    <svg class="application__button-arrow">
                        <use xlink:href="./images/icons/sprite.svg#spoiler-arrow"></use>
                    </svg>
                </button>
                <div class="application__box" data-accordion-content>
                    <p class="application__text">Оздоровление гормонального фона, подготовка обоих партнеров к зачатию ребенка</p>
                </div>
            </div>
        </div>
    </div>
</section>