.procedure {
  // .procedure__container

  &__container {
    display: flex;
    background-color: $whiteColor;
    margin: 0 auto;
    @media (max-width: $s) {
      flex-direction: column;
    }
    @media (min-width: $s) {
      padding: 0 1rem;
      box-shadow: 0px 54px 80px -40px rgba(0, 0, 0, 0.15);
      max-width: 1400px;
    }
  }

  // .procedure__block

  &__block {
    @include adaptive-value("padding-top", 71, 48, 1);
    @include adaptive-value("padding-bottom", 76, 22, 1);
    @include adaptive-value("padding-right", 126, 15, 1);
    @include adaptive-value("padding-left", 96, 15, 1);
  }

  // .procedure__title

  &__title {
    font-weight: bold;
    line-height: 36px;
    letter-spacing: -0.02em;
    @include adaptive-value("font-size", 30, 24, 1);
  }

  // .procedure__subtitle

  &__subtitle {
    font-weight: bold;
    line-height: 26px;
    @include adaptive-value("font-size", 20, 16, 1);
    @include adaptive-value("margin-top", 48, 14, 1);
    // .procedure__subtitle_accent

    &_accent {
    }
  }

  // .procedure__focus

  &__focus {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 9px 28px;
    background-color: $grayColor;
    box-shadow: 0px 54px 80px -40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    max-width: 388px;
    margin-top: 1.35rem;
  }

  // .procedure__icons-block

  &__icons-block {
    display: flex;
    justify-content: space-between;
    @include adaptive-value("margin-top", 42, 30, 1);

    @media (max-width: $m) {
      flex-direction: column;
    }
  }

  // .procedure__item

  &__item {
    display: flex;
    max-width: 300px;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    @media (max-width: $m) {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  // .procedure__item-icon

  &__item-icon {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
  }

  // .procedure__item-text

  &__item-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-left: 2rem;
  }

  // procedure__block-request
  &__block-request {

    @media (max-width: $m) {
      flex: 100%;
    }
    @media (min-width: $s) {
      max-width: 541px;
    }
  }
}

.request-average {
  // .request-average__form

  &__form {
    background: linear-gradient(
      135deg,
      #035fa1 0%,
      #0086b5 56.77%,
      #1779bf 90.1%
    );
    color: $whiteColor;
    @include adaptive-value("padding-top", 60, 37, 1);
    @include adaptive-value("padding-left", 80, 20, 1);
    @include adaptive-value("padding-right", 80, 20, 1);
    padding-bottom: 2rem;
  }

  // .request-average__fieldset

  &__fieldset {
    border: none;
    margin: 0;
  }

  // .request-average__title

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 1rem;
  }

  // .request-average__lable

  &__lable {
    margin-top: 1rem;
    display: block;
  }

  // .request-average__lable-text

  &__lable-text {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: .3rem;
  }

  // .request-average__input

  &__input {
    display: block;
    width: 100%;
    font-family: $fontFamily Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 20px 10px;
  }

  // .request-average__button

  &__button {
    width: 100%;
    margin-top: 1.4rem;
  }

  // .request-average__privacy

  &__privacy {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $grayColor;
    margin-top: 1.4rem;
  }

  // .request-average__privacy-link

  &__privacy-link {
    text-decoration: underline;
  }
}
