.procedure {
  z-index: 2;
  position: relative;
  margin-top: -400px;

  @media (max-width: $iphoneMax) {
    margin-top: -560px;
  }
  // .procedure__container
  &__container {
    margin: 0 auto;
    @media (min-width: $s) {
      padding: 0 1rem;
      max-width: 1400px;
    }
  }

  &__wrapper {
    display: flex;
    background-color: $whiteColor;
    @media (max-width: $s) {
      flex-direction: column;
    }
    @media (min-width: $s) {
      box-shadow: 0px 54px 80px -40px rgba(0, 0, 0, 0.15);
    }
  }

  // .procedure__block

  &__block {
    @include adaptive-value("padding-top", 71, 48, 1);
    @include adaptive-value("padding-bottom", 76, 22, 1);
    @include adaptive-value("padding-right", 126, 15, 1);
    @include adaptive-value("padding-left", 96, 15, 1);
  }

  // .procedure__title

  &__title {
    font-weight: bold;
    line-height: 36px;
    letter-spacing: -0.02em;
    @include adaptive-value("font-size", 30, 24, 1);
  }

  // .procedure__subtitle

  &__subtitle {
    font-weight: bold;
    line-height: 26px;
    @include adaptive-value("font-size", 20, 16, 1);
    @include adaptive-value("margin-top", 48, 14, 1);
    // .procedure__subtitle_accent

    &_accent {
    }
  }

  // .procedure__focus

  &__focus {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 9px 8px;
    background-color: $grayColor;
    box-shadow: 0px 54px 80px -40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-align: center;
    max-width: 344px;
    margin-top: 1.35rem;
  }

  // .procedure__icons-block

  &__icons-block {
    display: flex;
    justify-content: space-between;
    @include adaptive-value("margin-top", 42, 30, 1);

    @media (max-width: $m) {
      flex-direction: column;
    }
  }

  // .procedure__item

  &__item {
    display: flex;
    max-width: 300px;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    @media (max-width: $m) {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  // .procedure__item-icon

  &__item-icon {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
  }

  // .procedure__item-text

  &__item-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-left: 2rem;
  }

  // procedure__block-request
  &__block-request {
    @media (max-width: $m) {
      flex: 100%;
    }
    @media (min-width: $s) {
      max-width: 541px;
    }
  }
}

