<section class="request-large">
  <div class="request-large__container _container">
    <form class="request-large__form" name="largeForm">
      <fieldset class="request-large__fieldset">
        <div class="request-large__header">
          <legend class="request-large__title">Остались вопросы?</legend>
          <p class="request-large__text">Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее время</p>
          <div class="request-large__text-block">
            <p class="request-large__text"> Контактные телефоны:</p>
            <p class="request-large__text">8-800-500-41-79 - звонок бесплатный по РФ</p>
            <p class="request-large__text">+7 985 991-47-50 (Владимир Шуппо)</p>
            <p class="request-large__text">+7 916 070-20-65 (Ксения Дёмина)</p>
          </div>

          <div class="request-large__text-block">
            <p class="request-large__text">E-mail</p>
            <p class="request-large__text"><a class="request-large__link" href="mailto:mail@icequeen-cryo.com" target="_blank" rel="noopener noreferrer">mail@icequeen-cryo.com</a> (общие вопросы и предложения)</p>
          </div>

          <div class="request-large__text-block">
            <p class="request-large__text">Юридический адрес: ООО «ГРАНД-Крио»</p>
            <p class="request-large__text">117545, Российская Федерация, г.Москва, Варшавское шоссе, д.125 стр.1</p>
          </div>

        </div>
        <div class="request-large__content">
          <div class="request-large__box">
            <label class="request-large__lable request-large__lable_mini" for="request-large-name">
              <span class="request-large__lable-text">Имя</span>
              <input class="request-large__input" id="request-large-name" type="text" name="name" minlength="2" maxlength="30" required="">
            </label>
            <label class="request-large__lable request-large__lable_mini" for="request-large-name">
              <span class="request-large__lable-text">Телефон</span>
              <input class="request-large__input" id="request-large-tel" data-phone type="tel" name="tel" pattern="^((8|\+374|\+994|\+995|\+375|\+7|\+380|\+38|\+996|\+998|\+993)[\- ]?)?\(?\d{3,5}\)?[\- ]?\d{1}[\- ]?\d{1}[\- ]?\d{1}[\- ]?\d{1}[\- ]?\d{1}(([\- ]?\d{1})?[\- ]?\d{1})?$" required="">
            </label>
          </div>
          <label class="request-large__lable" for="request-large-name">
            <span class="request-large__lable-text">Задайте вопрос</span>
            <textarea class="request-large__textarea" name="textarea" cols="30" rows="10"></textarea>
          </label>
          <div class="request-large__box request-large__box_reverse">
            <button class="request-large__button button button_light" type="submit" data-popup="successful" disabled="">Отправить</button>
            <p class="request-large__privacy">Нажимая кнопку “Отправить”, вы соглашаетесь с условиями
              <a class="request-large__privacy-link" href="#">Политики конфиденциальности</a>
            </p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>