<section class="about">
    <div class="about__container _container">
        <div class="about__manufacturer">
            <h2 class="about__title">О производителе</h2>
            <img class="about__manufacturer-icon" src="./images/manufacturer-logo.jpg" alt="manufacturer-logo">
        </div>
        <div class="about__description">
            <h2 class="about__subtitle">Международная группа компаний «ГРАНД-Крио»</h2>
            <p class="about__text">Основана в 2010 году</p>
            <p class="about__text">Разрабатывает и производит <b>современное медицинское оборудование</b>, качество
                которого подтверждено международными сертификатами</p>
            <p class="about__text">Осуществляет <b>гарантийное и постгарантийное обслуживание</b>, обучение персонала на
                собственной клинической базе — международной сети Cryo Clinic (Москва).</p>
            <p class="about__text"><b>Зарубежная клиническая база</b> — компания Grand Cryo Wellness JLT (ОАЭ, Дубай;
                Германия, Дюссельдорф, Дортмунд)</p>
        </div>
    </div>
</section>