.about {
    // .about__container

    &__container {
        display: flex;
        justify-content: space-between;

        @media (max-width: $s) {
            flex-direction: column;
        }
    }

    // .about__manufacturer

    &__manufacturer {
        max-width: 19rem;
        margin-right: 4rem;
    }

    // .about__title

    &__title {
        font-style: normal;
        font-weight: bold;
        line-height: 2.6rem;
        white-space: nowrap;
        letter-spacing: -0.02em;
        @include adaptive-value("font-size", 30, 22, 1);
        @include adaptive-value("margin-bottom", 60, 20, 1);
    }

    // .about__manufacturer-icon

    &__manufacturer-icon {
      height: 4rem;
      object-fit: contain;
    }

    // .about__description

    &__description {
        max-width: 74.3rem;
        @media (max-width: $s) {
          margin-top: 4rem;
      }
    }

    // .about__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 2rem;
        @include adaptive-value("margin-bottom", 50, 20, 1);
    }

    // .about__text

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 2.3rem;
        margin-bottom: 1rem;
    }
}
