<header class="header">
  <div class="header__wrapper">
    <div class="header__container">
      <button class="header__burger burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <svg class="header__logo">
        <use xlink:href="./images/icons/sprite.svg#logo"></use>
      </svg>
      <div class="header__menu menu">
        <nav class="menu__body">
          <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="">Криотерапия</a></li>
            <li class="menu__item _focus"><a class="menu__link" href="">Криокапсула <br> IceQueen</a></li>
            <li class="menu__item"><a class="menu__link" href="">Криофен</a></li>
            <li class="menu__item"><a class="menu__link" href="">Гидромассажная <br> ванна</a></li>
            <li class="menu__item"><a class="menu__link" href="">О компании</a></li>
            <li class="menu__item"><a class="menu__link" href="">Наши партнёры</a></li>
            <li class="menu__item"><a class="menu__link" href="">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <button class="header__button" data-popup="callUs">
        <svg class="header__button_phone">
          <use xlink:href="./images/icons/sprite.svg#phone"></use>
        </svg>
        <span class="header__button_main button">Обратный звонок</span>
      </button>
    </div>
  </div>
</header>