// Переменные
$fontFamily: OpenSans;
$mainFontSize: 14px;

$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1475px;

// Breakpoints
$xxl: 2560px;
$xl: 1940px;
$l: 1460px;
$m: 1050px;
$s: 768px;
$xs: 525px;
$xxs: 320px;

// Цвета
$mainColor: #1E1E1E;
$blueColor: #0086B5;
$lightBlueColor: #46AEF7;
$grayColor: #E5E5E5;
$whiteColor: #ffffff;
$deepBlueColor: #323A4E;
$oceanBlueColor: #293146;