// Переменные
$fontFamily: OpenSans;
$mainFontSize: 14px;

$maxWidth: 1920;
$minWidth: 280;
$maxWidthContainer: 1475px;

// Breakpoints
$xxl: 2560px;
$xl: 1940px;
$l: 1460px;
$m: 1050px;
$s: 768px;
$xs: 525px;
$xxs: 320px;

$iphoneMax: 414px;

// Цвета
$mainColor: #1e1e1e;
$blueColor: #0086b5;
$lightBlueColor: #46aef7;
$grayColor: #e5e5e5;
$lightGrayColor: #f5f5f5;
$whiteColor: #ffffff;
$deepBlueColor: #323a4e;
$oceanBlueColor: #293146;
