<div class="@@class request-average">
  <form class="request-average__form" name="averageForm">
    <fieldset class="request-average__fieldset">
      <legend class="request-average__title">Записаться на пробное <br> посещение со скидкой 30%</legend>
      <label class="request-average__lable" for="request-average-name">
        <span class="request-average__lable-text">Имя</span>
        <input class="request-average__input" id='request-average-name' type="text" name="name" minlength="2" maxlength="30" required>
      </label>
      <label class="request-average__lable" for="request-average-tel">
        <span class="request-average__lable-text">Телефон</span>
        <input class="request-average__input" id='request-average-tel' type="tel" name="tel" pattern="^((8|\+374|\+994|\+995|\+375|\+7|\+380|\+38|\+996|\+998|\+993)[\- ]?)?\(?\d{3,5}\)?[\- ]?\d{1}[\- ]?\d{1}[\- ]?\d{1}[\- ]?\d{1}[\- ]?\d{1}(([\- ]?\d{1})?[\- ]?\d{1})?$" required>
      </label>
      <button class="request-average__button button button_light" type="submit" data-popup="successful" disabled>Оставить заявку</button>
      <p class="request-average__privacy">Нажимая кнопку “Оставить заявку”, вы соглашаетесь с условиями <a
          class="request-average__privacy-link" href="#">Политики конфиденциальности</a></p>
    </fieldset>
  </form>
</div>