<section class="intro">
  <div class="intro__container _container">
    <div class="intro__column column-text">
      <!-- <h2 class="intro__subtitle">новинка на рынке физиотерапевтического оборудования</h2> -->
      <h2 class="intro__subtitle">Уникальное оборудование для проведения локальной криотерапии</h2>
      <h1 class="intro__title">Криофен<span class="intro__title_accent _accent">КРИО-Локал</span></h1>
      <ul class="intro__list">
        <li class="intro_item">Быстрый старт</li>
        <li class="intro_item">Перспективная ниша</li>
        <li class="intro_item">Многофункциональность</li>
        <li class="intro_item">Минимальные расходники</li>
        <li class="intro_item">Быстрая окупаемость</li>
        <li class="intro_item">Простота и удобства в использовании</li>
      </ul>
    </div>
    <div class="intro__column column-main">
      <div class="intro__column-image">
        <img src="./images/intro_4.jpg" alt="cryocapsule">
        <!-- <img src="./images/Capsula_1.png" alt="cryocapsule"> -->
      </div>
    </div>
    <div class="intro__column _flex">
      <div class="intro__column-image column-image_mini">
        <img src="./images/intro_5.jpg" alt="display">
      </div>
      <div class="intro__column-request request-mini">
        <p class="request-mini__text">Освойте новую нишу быстрее конкурентов</p>
        <button class="request-mini__button" data-popup="callUs">
          <span>Оставить заявку</span>
          <svg class="request-mini__icon">
            <use xlink:href="./images/icons/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="intro__column-image column-image_mini">
        <img src="./images/intro_6.jpg" alt="display">
      </div>
    </div>
  </div>
</section>