<section class="features">
    <div class="features__container _container">
        <div class="features__item _animation">
            <h2 class="features__title">Быстрый старт</h2>
            <p class="features__text">Установка и обучение персонала займёт всего один день, а компактные размеры
                позволяют установить её в практически любом помещении</p>
        </div>
        <div class="features__item features__item_value _animation">
            <div class="features__box">
                <h2 class="features__value _accent">760 мм</h2>
                <p class="features__variable">высота криофена</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">215 мм</h2>
                <p class="features__variable">ширина криофена</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">315 мм</h2>
                <p class="features__variable">длина криофена</p>
            </div>
        </div>
        <div class="features__item _animation">
            <h2 class="features__title">Экономичность и быстрая окупаемость</h2>
            <p class="features__text">Более, чем скромный  расход азота, а это единственный требуемый расходник, позволяет ускорить процесс окупаемости и выйти на стабильный доход. </p>
        </div>
        <div class="features__item features__item_value _animation">
            <div class="features__box">
                <h2 class="features__value _accent">0,7 кВт</h2>
                <p class="features__variable">потребление электроэнергии</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">1.5 литра</h2>
                <p class="features__variable">расход азота на процедуру</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">3+ минуты</h2>
                <p class="features__variable">время подготовки к работе</p>
            </div>
        </div>
    </div>
</section>