<section class="features">
    <div class="features__container _container">
        <div class="features__item _animation">
            <h2 class="features__title">Быстрый старт</h2>
            <p class="features__text">Установка и обучение персонала займёт всего один день, а компактные размеры
                позволяют установить её в практически любом помещении</p>
        </div>
        <div class="features__item features__item_value _animation">
            <div class="features__box">
                <h2 class="features__value _accent">2 500 мм</h2>
                <p class="features__variable">высота криокапсулы</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">942 мм</h2>
                <p class="features__variable">диаметр криокапсулы</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">1 372 мм</h2>
                <p class="features__variable">ширина в кожухах</p>
            </div>
        </div>
        <div class="features__item _animation">
            <h2 class="features__title">Экономичность и быстрая окупаемость</h2>
            <p class="features__text">Более, чем скромный расход расходазота, а это единственный требуемый расходник,
                позволяет всего за несколько месяцев окупить устновку криокапсулы и выйти на стабильный доход.</p>
        </div>
        <div class="features__item features__item_value _animation">
            <div class="features__box">
                <h2 class="features__value _accent">1,5 кВт</h2>
                <p class="features__variable">потребление электроэнергии</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">6 литров</h2>
                <p class="features__variable">расход азота на процедуру</p>
            </div>
            <div class="features__box">
                <h2 class="features__value _accent">3 минуты</h2>
                <p class="features__variable">время подготовки к работе</p>
            </div>
        </div>
    </div>
</section>