<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <svg class="footer__logo">
        <use xlink:href="./images/icons/sprite.svg#logo"></use>
      </svg>
    </div>
    <div class="footer__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="">Криотерапия</a></li>
          <li class="menu__item"><a class="menu__link" href="">Криокапсула <br> IceQueen</a></li>
          <li class="menu__item _active"><a class="menu__link" href="">Криофен</a></li>
          <li class="menu__item"><a class="menu__link" href="">Гидромассажная <br> ванна</a></li>
          <li class="menu__item"><a class="menu__link" href="">О компании</a></li>
          <li class="menu__item"><a class="menu__link" href="">Наши партнёры</a></li>
          <li class="menu__item"><a class="menu__link" href="">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <button class="footer__button button" data-popup="callUs">Обратный звонок</button>
  </div>
</footer>