<section class="relevance">
  <div class="relevance__container _container">
    <h2 class="relevance__title"><span class="relevance__title_accent _accent">Актуальность</span> криотерапии</h2>
    <div class="relevance__block">
      <p class="relevance__text">Суть метода заключается в коротком, но экстремальном воздействии на поверхность кожи
        специальной воздушной средой с очень низкой температурой (от -130 до -160 градусов). Такое активное раздражение
        холодовых рецепторов приводит к быстрой ответной реакции и позволяет <b>активизировать внутренние резервы
          организма</b>, запустить механизмы самовосстановления и омоложения, а также укрепления иммунитета</p>
      <h3 class="relevance__subtitle">Инновационная <span class="relevance__subtitle_accent _accent">криокапсула
          "IceQueen"</span></h3>
      <p class="relevance__text">это уникальная <b>разработка российской компании "ГРАНД-Крио"</b> (GRAND-CRYO),
        медицинский комплекс нового поколения - лучшее решение в классе оборудования, предназначенного для общей
        криотерапии.</p>
      <div class="relevance__icons-block relevance-icons">
        <div class="relevance-icons__container">
          <div class="relevance-icons__item">
            <svg class="relevance-icons__icon">
              <use xlink:href="/images/icons/sprite.svg#relevance_6"></use>
            </svg>
            <p class="relevance-icons__text">Anti-Age эффект: комплексное омоложение организма</p>
          </div>
          <div class="relevance-icons__item">
            <svg class="relevance-icons__icon">
              <use xlink:href="/images/icons/sprite.svg#relevance_5"></use>
            </svg>
            <p class="relevance-icons__text">Подтянуть фигуру и сбросить лишний вес</p>
          </div>
          <div class="relevance-icons__item">
            <svg class="relevance-icons__icon">
              <use xlink:href="/images/icons/sprite.svg#relevance_4"></use>
            </svg>
            <p class="relevance-icons__text">Нормализовать обменные процессы</p>
          </div>
          <div class="relevance-icons__item">
            <svg class="relevance-icons__icon">
              <use xlink:href="/images/icons/sprite.svg#relevance_2"></use>
            </svg>
            <p class="relevance-icons__text">Повысить выносливость организма</p>
          </div>
          <div class="relevance-icons__item">
            <svg class="relevance-icons__icon">
              <use xlink:href="/images/icons/sprite.svg#relevance_1"></use>
            </svg>
            <p class="relevance-icons__text">Укрепить иммунитет</p>
          </div>
          <div class="relevance-icons__item">
            <svg class="relevance-icons__icon">
              <use xlink:href="/images/icons/sprite.svg#relevance_3"></use>
            </svg>
            <p class="relevance-icons__text">Антистресс</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>