.relevance {
  // .relevance__container
  background-image: url(/images/relevance_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include adaptive-value("padding-bottom", 132, 55, 1);
  &__container {
    display: flex;
    @include adaptive-value("margin-top", 153, 54, 1);

    @media (max-width: $m) {
      flex-direction: column;
    }
  }

  // .relevance__title

  &__title {
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
    letter-spacing: -0.02em;
    max-width: 500px;
    white-space: nowrap;
    @media (max-width: $s) {
      white-space: pre-wrap;
    }
    // .relevance__title_accent

    &_accent {
    }
  }

  // .relevance__block

  &__block {
    max-width: 874px;
    @include adaptive-value("margin-left", 78, 20, 960);
    @media (max-width: $m) {
      margin-top: 1.35rem;
      margin-left: 0;
    }
  }
  // .relevance__text

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }

  // .relevance__subtitle

  &__subtitle {
    // .relevance__subtitle_accent
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 23px;
    @include adaptive-value("margin-top", 122, 60, 1);
    &_accent {
    }
  }

  // .relevance__icons-block

  &__icons-block {
    margin-top: 40px;
  }
}
.relevance-icons {

  // .relevance-icons__container
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 52px;

    @media (max-width: $xs) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $xxs) {
      grid-template-columns:  1fr;
    }
  }
  // .relevance-icons__item

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 254px;
    min-height: 168px;
    border-left: 1px solid $grayColor;
    @include adaptive-value("padding-left", 40, 20, 1);
    @media (max-width: $xxs) {
      align-items: center;
      text-align: center;
    }
  }

  // .relevance-icons__icon

  &__icon {
    fill: $blueColor;
    width: 64px;
    height: 64px;
  }

  // .relevance-icons__text

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-top: 1.35rem;
    padding-right: 0.5rem;
  }
}
