<section class="specifications">
  <div class="specifications__wrapper _stickyContainer" data-count="5">
    <div class="specifications__container">
      <div class="specifications__image">
        <img src="./images/fan.png" alt="cryocapsule">
        <span class="specifications__point point_1 _anotherStickySwipeElement"></span>
        <span class="specifications__point point_2 _anotherStickySwipeElement"></span>
        <span class="specifications__point point_3 _anotherStickySwipeElement"></span>
        <span class="specifications__point point_4 _anotherStickySwipeElement"></span>
        <span class="specifications__point point_5 _anotherStickySwipeElement"></span>
      </div>
      <div class="specifications__content">
        <h2 class="specifications__title">Характеристики криофена</h2>
        <div class="specifications__box">
          <div class="specifications__box-content _stickySwipeElement">
            <h3 class="specifications__subtitle _accent">Уникальная конструкция <span
              class="specifications__number">01</span></h3>
          <p class="specifications__text">Герметичный корпус обеспечивает не только стабильное поддержание температуры
            от
            -130 до -160 °C, но и равномерное распределение холода внутри рабочей камеры, а также его одновременное
            воздействие на все тело пациента (за исключением лица).</p>
          </div>
          <div class="specifications__box-content  _stickySwipeElement">
            <h3 class="specifications__subtitle _accent">Охват тела — до 98%<span
              class="specifications__number">02</span></h3>
          <p class="specifications__text">Герметичный корпус обеспечивает не только стабильное поддержание температуры от -130 до -160 °C, но и равномерное распределение холода внутри рабочей камеры, а также его одновременное воздействие на все тело пациента (за исключением лица).</p>
          </div>
          <div class="specifications__box-content  _stickySwipeElement">
            <h3 class="specifications__subtitle _accent">Специальное окно-иллюминатор для лица<span
              class="specifications__number">03</span></h3>
          <p class="specifications__text">Позволяет пациенту дышать воздухом помещения и все время контактировать с оператором, что исключает риск переохлаждения верхних дыхательных путей и легких пациента.</p>
          </div>
          <div class="specifications__box-content  _stickySwipeElement">
            <h3 class="specifications__subtitle _accent">Полностью автоматизированное управление<span
              class="specifications__number">04</span></h3>
          <p class="specifications__text">производитель криокапсул гарантирует абсолютную безопасность криопроцедур, простоту и комфорт эксплуатации, а также надежность и долговечность оборудования благодаря использованию высокотехнологичных компонентов компании Siemens.</p>
          </div>
          <div class="specifications__box-content  _stickySwipeElement">
            <h3 class="specifications__subtitle _accent">Подъемный электрический пол и сниженный уровень шума<span
              class="specifications__number">05</span></h3>
          <p class="specifications__text">внутри камеры сделали криопроцедуру намного комфортнее для пациента.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>