<section class="specifications">
  <div class="specifications__container">
    <div class="specifications__image">
      <img src="/images/Capsula_1.png" alt="cryocapsule">
    </div>
    <div class="specifications__content">
      <h2 class="specifications__title">Характеристики криокапсулы</h2>
      <div class="specifications__box">
        <h3 class="specifications__subtitle _accent">Уникальная конструкция</h3>
        <span class="specifications__number">01</span>
        <p class="specifications__text">Герметичный корпус обеспечивает не только стабильное поддержание температуры от -130 до -160 °C, но и равномерное распределение холода внутри рабочей камеры, а также его одновременное воздействие на все тело пациента (за исключением лица).</p>
      </div>
    </div>
  </div>
</section>