.icons-about {
  // .icons-about__container

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 30px;
    margin-bottom: 40px;

    @media (max-width: $s) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 1rem;
    }
    @media (max-width: $iphoneMax) {
      grid-template-columns:  1fr;
      grid-gap: 20px 0;
    }
  }

  // .icons-about__block

  &__block {
    display: flex;
    align-items: center;
  }

  // .icons-about__icon

  &__icon {
    width: 49px;
    height: 59px;
    fill: $blueColor;
  }

  // .icons-about__text

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: .6rem;
    color: $whiteColor;
  }
}
