<section class="icons-about">
  <div class="icons-about__container">
    <div class="icons-about__block">
      <svg class="icons-about__icon">
        <use xlink:href="/images/icons/sprite.svg#icon-about_1"></use>
      </svg>
      <p class="icons-about__text">Санатории-профилактории</p>
    </div>
    <div class="icons-about__block">
      <svg class="icons-about__icon">
        <use xlink:href="/images/icons/sprite.svg#icon-about_2"></use>
      </svg>
      <p class="icons-about__text">Медицинские учреждения</p>
    </div>
    <div class="icons-about__block">
      <svg class="icons-about__icon">
        <use xlink:href="/images/icons/sprite.svg#icon-about_3"></use>
      </svg>
      <p class="icons-about__text">Спортивные и фитнес-клубы</p>
    </div>
    <div class="icons-about__block">
      <svg class="icons-about__icon">
        <use xlink:href="/images/icons/sprite.svg#icon-about_4"></use>
      </svg>
      <p class="icons-about__text">SPA-центры и центры красоты и здоровья</p>
    </div>
    <div class="icons-about__block">
      <svg class="icons-about__icon">
        <use xlink:href="/images/icons/sprite.svg#icon-about_5"></use>
      </svg>
      <p class="icons-about__text">Частные клиенты</p>
    </div>
    <div class="icons-about__block">
      <svg class="icons-about__icon">
        <use xlink:href="/images/icons/sprite.svg#icon-about_6"></use>
      </svg>
      <p class="icons-about__text">Корпоративное оздоровление</p>
    </div>
    <div class="icons-about__block">
      <svg class="icons-about__icon">
        <use xlink:href="/images/icons/sprite.svg#icon-about_7"></use>
      </svg>
      <p class="icons-about__text">Силовые структуры</p>
    </div>
  </div>
</section>